@media (min-width:1000px) {
    .main-layout {
        max-width: 980px;
    }

    .card-layout {
        max-width: 960px;
    }

    .moving-pages {
        margin-top: 5rem;
    }

    .main-header li {
        width: 130px;
        height: 130px;
    }

    .card {
        margin-top: 4.09375rem;
    }

    .moving-pages .next-btn,
    .moving-pages .prev-page {
        padding: 26px;
    }

    /* .reading-btn { */
    /* height: 5.0625rem;
        width: 11.625rem; */
    /* } */

}