@media (max-width:950px) {
    html {
        font-size: 21px;
    }

    .main-layout {
        max-width: 740px;
    }

    .card-layout {
        max-width: 740px;
    }

    .menu-toggle {
        background-color: var(--clr-green);
    }

    .card {
        flex-direction: column;
        padding: 1rem;
        box-shadow: 4px 4px 5px 4px #000;
        margin-bottom: 1rem;
    }

    .main-header .main-nav {
        align-items: center;
    }


    .main-nav li {
        background-color: var(--clr-STxt);
        width: 90%;
        padding: 1rem;
        text-align: center;
    }

    

    .main-nav {
        position: fixed;
        top: 2.6rem;
        right: 0.3rem;
        background-color: transparent;
        width: 100%;
        align-items: center;
        flex-direction: column;
        border-inline-start: 1px solid #ccc;
        transform: translateX(100%);
        transition: transform .6s;
        flex-direction: column;
    }

    .main-nav>* {
        margin-top: 0.5rem;
        margin-inline-start: 0.5rem;
        font-size: 1.25rem;
    }

    body.menu-open .main-nav {
        box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
        transform: translateX(0);
    }

    .moving-pages .next-btn,
    .moving-pages .prev-page {
        padding: 9px;
    }

    .moving-pages {
        margin-top: 2rem;
    }



    .card .card-img {
        margin-bottom: 1rem;
    }

    .main-header .main-nav .journy-content {
        width: 100%;
    }

    .main-header .main-nav .drop-down-list {
        display: none;
        position: relative;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        max-width: 90%;
        text-align: center;
        padding: 0;
        background-color: var(--clr-border);
    }
    


    /* --------------------------------- */
    .modal-content {
        text-align: center;
        width: 85%;
    }
    .main-modal {
        position: fixed;
        top: -1000px;
        width: 100%;
        height: 800px;
        background-color: var(--clr-footer);
        font-size: 1.5625rem;
        border: 2px solid var(--clr3);
        border-radius: 10px;
        align-self: center;
        transition: top .6s;
    }
}