@media (max-width:950px) {
    .menu-toggle {
        margin-inline-end: 10%;
    }

    .main-nav li {
        background-color: var(--clr-STxt);
        width: 90%;
        height: 50px;
        padding: 10px;
        text-align: center;
    }

    .main-modal {
        position: fixed;
        width: 100%;
        height: 800px;
        background-color: var(--clr-footer);
        font-size: 1.5625rem;
        border: 2px solid var(--clr3);
        border-radius: 10px;
        align-self: center;
        transform: translateY(400%);
        transition: transform .6s;
    }

    .modal-content {
        text-align: center;
        width: 85%;
    }

    .main-nav {
        position: fixed;
        top: 50px;
        background-color: transparent;
        width: 100%;
        align-items: center;
        flex-direction: column;
        border-inline-start: 1px solid #ccc;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
        flex-direction: column;
    }

    .main-nav>* {
        margin-top: 0.5rem;
        margin-inline-start: 0.5rem;
        font-size: 1.25rem;
    }

    body.menu-open .main-nav {
        box-shadow: -6px 0px 17px rgb(0 0 0 / 19%);
        transform: translateX(0);
    }

    .main-header {
        height: 50px;
    }

    .main-header .main-logo {
        margin-inline-start: 10%;
    }

    .main-header .main-nav:last-child {
        margin-inline-end: 10%;
    }

    .moving-pages {
        margin-top: 2rem;
        height: 40px;
    }

    .card {
        flex-direction: column;
        max-width: 620px;
        height: 650px;
        margin-top: 1rem;
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
    }

    .card .card-img {
        margin-bottom: 1rem;
    }

    .reading-btn {
        height: 1.8rem;
        width: 9rem;
    }

    .main-header .main-nav .journy-content {
        width: 100%;
        margin-inline-start: 10%;
    }


    .main-header .main-nav .drop-down-list {
        display: none;
        position: relative;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        max-width: 90%;
        text-align: center;
        padding: 0;
        background-color: var(--clr-border);
    }
}