.main-header {
    background-color: var(--clr1);
    box-shadow: inset 0px -6px var(--clr-black);
    color: var(--clr2);
    width: 100%;
}
.header-content {
    margin: auto;
}

.main-nav li:hover a {
    color: var(--clr-green);   
}

.main-nav li:hover{
    box-shadow: inset 0px -6px var(--clr-green);
    cursor: pointer;
}
.main-nav li.selected a {
    color: var(--clr-green);  
}
.main-nav li.selected{
    cursor: default; 
}

.main-header li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-inline-end:2px solid var(--clr-black) ;
    transition: all 0.4s;
}
.main-header li:first-child{
    border-inline-start:2px solid var(--clr-black) ;
}

.main-header .main-logo {
    font-family: eurofurence;
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 0.96;
}

.main-header .main-logo span {
    color: var(--clr-green);
}

.main-header a {
    color: var(--clr2);
}

.main-header .main-nav .selected {
    color: var(--clr-green);
}

/* drop-down-list */

.drop-down-list{
    margin: auto;
    width: 100%;
}

.drop-down-list a {
    color: var(--clr3);
    padding: 5px;
}

.drop-down-list a:hover {
    color: var(--clr-green);
}

.journy-content {
    position: relative;
    display: inline-block;
}
.journy-content li:first-child{
    margin: auto;
}


